<h1> <%="No" if @friends.empty? %> Friends</h1>
<br>
<div class="ui form">
  <div class="inline field">
    <h3 id="label-id">Search Friends</h3>
      <%= form_tag search_friends_path, remote: true, method: :get do%>
        <div class="ui equal width grid">
          <div class="column">
              <%= text_field_tag :friend, params[:friend], placeholder:"Email or Name",
                  autofocus: true, class:" two wide column", id:"bar" %>
          </div>
        <div class="column">
          <%= button_tag type: :submit, class: "ui positive submit button" do %>
            <%= fa_icon "search " %>
          <% end %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid friend-panel">
  <div id="search_results">

  </div>

  <% if !@friends.empty? %>
    <%= render 'friends/lists'%>
  <% end %>
</div>
