<div class="ui inverted mini menu" id="menu-color">
  <a>
    <%= link_to 'Finance Tracker', root_path, class:"item
    #{ 'active' if request.path == root_path }" %>
  </a>
  <%if current_user %>
  <a>
    <%= link_to 'My friends stocks', my_portfolio_path, class:"item
    #{ 'active' if request.path == my_portfolio_path }"%>
  </a>
  <a>
    <%= link_to 'My Friends', my_friends_path, class:"item
    #{ 'active' if request.path == my_friends_path }"%>
  </a>

    <div class="right menu">
      <div class="ui dropdown item">
        <i class="user icon" id="user-icon"></i> <%= current_user.full_name %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to edit_user_registration_path, class:"item" do %>
            <%= fa_icon 'edit'%> Edit Profile
          <% end %>

          <%= link_to  user_path(current_user), class:"item" do%>
              <i class="user secret icon"></i>Profile
          <% end %>

        </div>
      </div>
    <% else %>
      <div class="right menu">
    <% end %>
    <div class="item">
      <% if user_signed_in? %>
        <div class="ui buttons">
          <%= link_to 'Login', new_user_session_path, class:"ui button" %>
          <div class="or"></div>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete,
          class:"ui positive button" %>
        </div>
      <% else%>
        <div class="ui buttons">
          <%= link_to 'Login', new_user_session_path, class:"ui positive button" %>
          <div class="or"></div>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete,
          class:"ui button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
